<section id="about" class="container col-11 col-lg-10 my-5 mx-auto">
  <p class="fs-5 text-center">Get to know more</p>
  <h1 class="fw-bold text-center">About Me</h1>
  <div class="row mt-4">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <div class="row w-100">
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-award fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Experience</h3>
              <p class="card-text">
                1+ years of experience
                <br>in Software Development with
                <br>a focus on Full Stack Development
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-laptop-code fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Specialized In</h3>
              <p class="card-text">
                Software Development<br>QA Engineering<br>Relational Databases<br>Data Science and ML
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-trophy fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Achievements</h3>
              <p class="card-text">
                Qualified GATE CSE 2023 & 2024<br>Secure 62nd Rank in Coding Contest<br>Inter School Cricket Tournament(Runner Up)

              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 text-center mt-3">
        <p>
          I'm Dev Sriwal, a software Developer with over 1 year of experience.
          I specialize in crafting robust Java-based solutions with Spring and Spring Boot,
          aligning technical objectives with user needs, and exploring new and exciting technologies like Angular and React JS.
        </p>
      </div>
    </div>
  </div>
</section>
