<section id="about" class="container col-11 col-lg-10 my-5 mx-auto">
  <p class="fs-5 text-center">Get to know more</p>
  <h1 class="fw-bold text-center">About Me</h1>
  <div class="row mt-4">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <div class="row w-100">
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-award fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Experience</h3>
              <p class="card-text">
                1+ years of experience
                <br>in C/C++, Python, and Dart with
                <br> hands-on experience in Mobile App Development using Flutter.
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-laptop-code fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Specialized In</h3>
              <p class="card-text">
                Software Development<br>QA Engineering<br>Relational Databases<br>AI, ML and Data Science.
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-trophy fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Achievements</h3>
              <p class="card-text">
                Qualified GATE CSE 2024<br>Secured 1st position in the first semester of my college.<br>Head of The Photography and Media Club, AKGEC . 

              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 text-center mt-3">
        <p> I am Shreyashi Jaiswal, recently graduated from Ajay Kumar Garg Engineering College(AKGEC), Ghaziabad and my branch is : CSE(AI & ML), securing a GPA of 8.02/10 . </p>
        <p>
          Currently working at Biz2X Platform Pvt. Ltd. as an Associate QA Engineer. My passion towards integrating the technologies with the real-world entities is my driving force. I am a passionate software developer with a strong background in building efficient and innovative solutions. When I'm not coding, I indulge in my creative side through photography, singing, and sketching. My diverse interests help me maintain a balance between the logical and artistic aspects of life, fueling my creativity both in coding and in my personal hobbies. 
          
        </p>
      </div>
    </div>
  </div>
</section>
